@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
    color: #2B2862;

}

html{
    font-size: 62.5%;
}

body{   
    background: #F5ECEC;
}

.wrapper-container {
    position: relative; /* Ensure the positioning context for the pseudo-element */
    padding: 3rem;
    max-width: 1282px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden; /* Ensure that the blurred overlay doesn't overflow */
    z-index: -1;
}

.blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Push the overlay behind the content */
}


    
section{
    padding: 0 6rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
}

nav ul a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #2B2862;
    font-family: "Poppins", sans-serif;
}

.right-side{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.right-side button{
    background-color: #2B2862;
    font-size: 1.8rem;
    color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 9px 28px -10px rgba(1, 9, 104, 0.37);
    border: none;
}

.hero{
    margin-block: 7rem;
}

.hero h1{
    font-size: 6rem;
    max-width: 667px;
}

.hero p{
    font-size: 2.2rem;
    max-width: 487px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 5rem;
}

