@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
    color: #2B2862;

}

html{
    font-size: 62.5%;
   
}

body {
    background: rgba(253, 186, 255, 1); 
    /* background-image: url('./background.jpg'); */
    
}

img{
    width: 100%;
    height: 100%;
}

.wrapper-container {
    padding: 3rem;
    max-width: 1282px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(20px); 
}
    
section{
    padding: 0 6rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

nav img{
    width: 46px;
    height: 46px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    list-style: none;
}

nav ul li{
    display: block;
}

nav ul a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #2B2862;
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: block;

    position: relative;
    transition: background-color 0.3s ease-in-out;
}
nav ul a::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 2px;
   background-color: #2B2862;
   transition: width 0.3s ease-in-out;

}

nav ul a:hover::before{
  width: 100%;
}

.right-side{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.right-side button{
    background-color: #2B2862;
    font-size: 1.8rem;
    color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 9px 28px -10px rgba(1, 9, 104, 0.37);
    border: none;
    cursor: pointer;
    width: 100%;
}

.hero{
    margin-block: 7rem;
}

.hero h1{
    font-size: 6rem;
    max-width: 667px;
}

.hero p{
    font-size: 2.2rem;
    max-width: 487px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 5rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.cards .card {
    background-color: #fff;
    width: 335px;
    height: 217px;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 20px 53px -30px rgba(95, 102, 173, 0.56);
}

.cards .card h3{
    font-size: 2.6rem;
}
.cards .card p{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.cards .card .dropdown{
    display: flex;
    align-items: center;

    gap: 0.5rem;
    margin-top: 15%;
}

.dropdown img{
    width: 34px;
    height: 34px;
}
.cards .card .dropdown p{
  color: #606DFE;
  font-weight: 900;
}

.cards  .resources p{
    margin-top: 2rem;
    max-width: 256px;
    font-weight: bold;
}
.cards .tools button{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    border: none;
    background-color: none;
    border: 1px solid #D4D7FF;
    background-color: #fff;
    border-radius: 21px;
    width: fit-content;
    padding: 0.8rem 2.5rem;
    margin-top: 15%;
}

.mobile{
    position: relative;
    display:  none;
}



.mobile ul svg{
    margin-left: 90%;
}

.mobile ul li{
    margin-block: 1.5rem;
}

.mobile svg{
    width: 46px;
    height: 46px;
}

.mobile ul{
    display: none; /* Initially hide the mobile navigation menu */
    background-color: #fff;
    border-radius: 10px;
    padding: 3rem;
    position: fixed; /* Change to fixed positioning */
    top: 0;
    right: 0;
    z-index: 999; /* Ensure a higher z-index */
}


@media screen and (max-width: 750px) {
    
    nav ul a:hover::before{
        width:10%;
      }
      

    .mobile{
        display:  block;
    }

    .mobile ul{
        display: block;
    }

    .right-side ul{
        display: none;
    }

    .hero h1{
        font-size: 4rem;
        max-width: fit-content;
    }
    .hero p{
        max-width: fit-content;
    }

    .cards {
        flex-wrap: wrap;
        width: 100%;
    }

    .cards .card {
        width: 100%;
        height: 100%;
    }

    .cards .card p{
        max-width: 100%;
    }

    .cards .resources p{
        max-width: 100%;
    }

    .dropdown{
        width: fit-content;
    }

    section{
        padding: 0 2rem;
    }
}